.loader {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes juggler {
	0% {
		transform: translateX(0px) translateY(0px);
	}
	12.5% {
		transform: translateX(-20px) translateY(40px) scale(1.1);
	}
	25% {
		transform: translateX(-40px) translateY(0px);
	}
	37.5% {
		transform: translateX(-20px) translateY(-40px);
	}
	50% {
		transform: translateX(0px) translateY(0px);
	}
	62.5% {
		transform: translateX(20px) translateY(40px) scale(1.1);
	}
	75% {
		transform: translateX(40px) translateY(0px);
	}
	87.5% {
		transform: translateX(20px) translateY(-40px);
	}
	100% {
		transform: translateX(0px) translateY(0px);
	}
}

span.ball {
	position: absolute;
	background: #fff;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	animation: juggler 1.8s linear infinite;
	background-color: #988bff;
}
span.ball:nth-child(1) {
	animation-delay: -0.6s;
}
span.ball:nth-child(2) {
	animation-delay: -1.2s;
}
